.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5rem;
  padding: 1rem 1rem;
  box-shadow: var(--shadow);
  position: fixed;
  top: 50%;
  right: 2rem;
  z-index: 10;
  gap: 1rem;
  width: max-content;
  transform: translateY(-50%);
}

.sideBar li {
  position: relative;
  list-style: none;
  height: 5rem;
  width: 5rem;
  font-size: 2.2rem;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar li a {
  border-radius: 50%;
  padding: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: #ff00d4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sideBar li a.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(92.23deg, #42a6e3, #ff56f6, #42a6e3);
  z-index: -1;
  transition: all 0.4s ease;
}

.sideBar li a:hover::before {
  left: -100%;
}

.sideBar li a.active {
  color: var(--color-white);
}

.sideBar li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .sideBar {
    flex-direction: row;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 0.75rem 1.5rem;
  }

  .sideBar li {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }

  .sideBar li a {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .sideBar {
    flex-direction: row;
    top: 100%;
    left: 50%;
    gap: 0rem;
    transform: translate(-50%, -100%);
    padding: 0.5rem 1rem;
  }

  .sideBar li {
    font-size: 1.8rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }

  .sideBar li a {
    padding: 0rem;
  }
}
